<table class="box-three">
    <tr align="center" class="titleCell">
        <td colspan="3" id="trapezoid">
            <h1>IvoTetris</h1>
        </td>
    </tr>
    <tr>
        <td class="side-generic-left">
            <app-left-panel [DataFromAppComponent]="sampleDataToLeft">Loading Left Panel...</app-left-panel>
        </td>
        <td class="side-generic-middle">
            <app-grid [DataFromAppComponent]="sampleDataToGrid" (DataFromGrid)='handleDataFromGrid($event)'>Loading Tetris Grid...</app-grid>
        </td>
        <td class="side-generic-right">
            <app-right-panel [DataFromAppComponent]="sampleDataToRight">Loading Left Right...</app-right-panel>
        </td>
    </tr>
    <tr>
        <td colspan="3" height="35" align="center">
            <div class='share-buttons' id="share-button">
                Share the game
                <a href="https://plus.google.com/share?url=https://tetris.ivaylopavlov.com" target="_blank">
                    <img src="../assets/social_media/google.png" alt="Google" />
                </a>
                <a href="http://www.facebook.com/sharer.php?u=https://tetris.ivaylopavlov.com" target="_blank">
                    <img src="../assets/social_media/facebook.png" alt="Facebook" />
                </a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://tetris.ivaylopavlov.com" target="_blank">
                    <img src="../assets/social_media/linkedin.png" alt="LinkedIn" />
                </a>
                <a href="https://twitter.com/share?url=https://tetris.ivaylopavlov.com&amp;text=I%20played%20IvoTetris%20at&amp;hashtags=ivotetris" target="_blank">
                    <img src="../assets/social_media/twitter.png" alt="Twitter" />
                </a>
            </div>
        </td>
    </tr>
</table>
