@font-face{
    font-family: "Pixel-Noir-Caps";
    src: url('./assets/fonts/header/Pixel-Noir-Caps.otf'),
    url('./assets/fonts/header/Pixel-Noir-Caps.eot'); /* IE */
}
@font-face{
    font-family: "Pixel-Noir";
    src: url('./assets/fonts/body/Pixel-Noir.otf'),
    url('./assets/fonts/body/Pixel-Noir.eot'); /* IE */
}
@font-face{
    font-family: "Visitor";
    src: url('./assets/fonts/body/Visitor.otf'),
    url('./assets/fonts/body/Visitor.eot'); /* IE */
}
body {
    background-color: #000021;
    color: #ECECEC;
    background-image: url('./assets/wallpapers/nyc.gif');
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: bottom; 
    zoom: 0.9; 
}

#center {
    -moz-transform: scale(0.9); 
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
}